@import url('/Front/css/font-awesome.min.css');
@import url('/Front/css/themestyle1.css');

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {margin: 0; padding: 0;}
body {
	padding-top:50px;
	padding-bottom: 20px;
}
h1, h2, h3, .h1, .h2, .h3	{
	font-weight: 300;
}

.size100	{
	font-size: 100px;
}
.normal	{
	font-weight: 400;
}
.bold	{
	font-weight: bold;
}
.center	{
	text-align: center;
}
.btn	{
	border-radius: 50px 50px 50px 50px;
	padding: 6px 20px;
}
.btn-primary {
	background: none;
	background: #ff934f;
}
.btn-primary:hover {
	background: #ff6200;
}
.btn-success:hover, 
.btn-success:focus, 
.btn-success:active, 
.btn-success.active, 
.open .dropdown-toggle.btn-success {
}

.margintop30	{
	margin-top: 30px;
}
.marginbottom30	{
	margin-bottom: 30px;
}

.navbar {
	background: #fff;
}

.navbar-form .btn.btn-success	{
	padding: 3px 12px;
	border:1px solid #ff934f;
	background:#ff934f url(../img/icon-search.png) no-repeat;
	width:36px;
	height:28px;
}
.form-control	{
	border-radius: 50px;
}
.jumbotron	{
	background: url(../img/jumbotron-bg.jpg) center center no-repeat;
	color: #fff;
	text-align: center;
	height:500px;
}

.jumbotron h1	{
	font-weight: 300;
	text-transform: lowercase;
}

.jumbotron a.btn	{
	margin-top: 40px;
	padding: 10px 20px;
	width:236px;
	font-size:24px;
}

body.inner-page .jumbotron h1	{
	text-transform: capitalize;
}

/*		Accordion Sidebar		*/
.accordian-wrap.affix	{
	top: 100px;
	width: 260px;
}
#accordian {
	/*background: #004050;*/
	background: #f7f7f7;
	/*width: 260px;*/
	width: 100%;
/*	margin: 100px auto 0 auto;*/
	margin: 0 auto;
	color: #555;
	/*Some cool shadow and glow effect*/
	/*box-shadow: 
		0 5px 15px 1px rgba(0, 0, 0, 0.6), 
		0 0 200px 1px rgba(255, 255, 255, 0.5);*/
}

#accordian h3 {
	margin-top: 0;
	margin-bottom: 0;
}
/*heading styles*/
#accordian h3 {
	font-size: 14px;
	font-weight: 300;
	line-height: 38px;
	padding: 0px 10px;
	cursor: pointer;
	/*fallback for browsers not supporting gradients*/
	background: #f0f0f0; 
	/*background: linear-gradient(#f0f0f0, #e0e0e0);*/
	border-bottom: 1px dotted #fff;
}
/*heading hover effect*/
#accordian h3:hover {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}
/*iconfont styles*/
#accordian h3 span {
	font-size: 16px;
	margin-right: 15px;
}
/*list items*/
#accordian li {
	list-style-type: none;
}
/*links*/
#accordian ul ul li a {
	color: white;
	text-decoration: none;
	font-size: 13px;
	font-weight: 300;
	color: #333;
	line-height: 28px;
	display: block;
	padding: 0 15px;
	/*transition for smooth hover animation*/
	transition: all 0.15s;
}
/*hover effect on links*/
#accordian ul ul li a:hover {
	background: #ddd;
	border-left: 5px solid #ff934f;
}
/*Lets hide the non active LIs by default*/
#accordian ul ul {
	display: none;
}
#accordian li.active ul {
	display: block;
}

/*		Accordion Sidebar	- End	*/
footer	{
	margin-top: 40px;
}
aside.footer-widgets {
	background: url(../img/footer-widgets-bg.png) center center;
	padding: 40px 0;
}

.footer-widgets	{
	overflow: auto;
	color: #fff;
	font-size: 0.9em;
}
.footer-widgets h2	{
	font-size: 1.9em;
}
.copyright	{
	padding-top: 20px;
	font-size: 0.8em;
}
.copyright p	{
	float: left;
}
.social	{
	float: right;
}

/*	 VIDEO WRAP		*/

.vid	{
	margin: 10px 0 50px 0;
	text-align: center;
	position: relative;
}
.vid div	{
	padding: 5px 0;
}
.vid h3	{
	font-size: 19px;
	display: block;
	width: 100%;
	/*min-height:44px;*/
	margin-bottom:16px;
}

.vid h3 a, .rating a	{
	color: rgb(51,51,51);
}

.video	img{width:100%;}

.video iframe	{
}
.rating	{
}
.rating a:hover	{
	color: rgb(121,121,121);
	text-decoration: none;	
}
.length	{
	font-size: 14px;
}
.users	{
}
.loadmore	{
	margin: 50px 0 10px 0;
	clear:both;	
}

.sidebar	{
	position: relative;
}
.leftsidebar	{
	position: absolute;
    top: 0;
}
.leftsidebarfixed {
    position: fixed;
    top: 0;
}
.navbar-toggle	{
	border: 1px solid #ddd;
	color: #ccc;
	margin-top: 15px;
}
.navbar-toggle .icon-bar {
  background-color: #cccccc;
}

.navbar-login 	{
	display: inline-block;
	float: right;
	margin-top: 15px;
}
.social img{margin-right:4px;width:25px;}
.copyright{font-size:12px;}
.copyright a{font-size:12px;color:#333;}
.users{display:inline-block;text-align:center;}
.users a{float:left;}

/* Large desktop */
@media (min-width: 1200px) { 
.navbar > .container .navbar-brand {
	margin-right: 20px;
}
.navbar-form	{
	margin-top: 11px;
}

.navbar-header	{
	width: 100%;
}
input#navsearch	{
	width: 188px;
}
.footer-widgets .col-lg-3{min-height:240px;}
.footer-widgets .btn-default{position:absolute;bottom:0;}
.footer-widgets h2{margin-bottom:20px;}
.jumbotron{margin-bottom:20px;}

}
     
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
.navbar-form	{
	display: inline-block;
	padding-right: 0;
	margin-top: 11px;
	width: 490px;
}
.form-control {
	display: inline-block;
}
input#navsearch	{
	width:188px;
}
.navbar-login 	{
/*	margin-right: 15px;
	margin-top: 18px;*/
}
.accordian-wrap.affix	{
  position: static;
  width: auto;
  top: 0;
}


.vid	{
	clear: both;
	padding: 30px 0;
	border-bottom: 1px dotted #ddd;
	overflow: auto;
	margin: 0;
}
.vid .video	{
	float: left;
	width: 36%;
}
.vid h3, 
.vid .rating, 
.vid .length, 
.vid .users	{
	float: right;
	width: 60%;
	text-align: left;
}
.jumbotron h1 {
    color: inherit;
    line-height:1;
	margin:0;
}
.jumbotron a.btn{margin-top:10px;}
.vid h3{margin:0;}
.social {margin-top: -4px;}
.footer-widgets h2.mtzero{margin-top:0;}
.vid h3{min-height:inherit;margin-bottom:10px;}
}
     
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
.navbar-form	{
	display: inline-block;
	padding-right: 0;
}
.form-control {
	display: inline-block;
}
input#navsearch	{
	width: 150px;
}
.navbar-login 	{
	margin-right: 15px;
	margin-top: 18px;
}	
.accordian-wrap.affix	{
  position: static;
  width: auto;
  top: 0;
}

.vid	{
	clear: both;
	padding: 30px 0;
	border-bottom: 1px dotted #ddd;
	overflow: auto;
	margin: 0;
}
.vid .video	{
	float: left;
	width: 36%;
}
.vid h3, 
.vid .rating, 
.vid .length, 
.vid .users	{
	/*float: right;
	width: 60%;
	text-align: left;*/
}
.vid h3{min-height:inherit;}

}
     
/* Landscape phones and down */
@media (max-width: 480px) {
.navbar-form	{
	display: inline-block;
	padding-right: 0;
}
.form-control {
	display: inline-block;
}
input#navsearch	{
	width:256px;
}
.navbar-login 	{
	margin-right: 15px;
	margin-top: 18px;
}
.accordian-wrap.affix	{
  position: static;
  width: auto;
  top: 0;
}

.vid	{
	clear: both;
	padding: 10px 0;
	border-bottom: 1px dotted #ddd;
	overflow: auto;
	margin: 0;
}
.vid .video	{
	float: none;
	width: 100%;
}
.vid h3, 
.vid .rating, 
.vid .length, 
.vid .users	{
	margin:0 0 10px 0;
}
.navbar-fixed-top, .navbar-fixed-bottom{position:relative;margin:0;}
body{padding-top:0;}
.navbar .container{padding:0 10px;}
.container > .navbar-header{margin:0;}
.navbar-login{margin-right:0;}
.copyright p{text-align:center;}
.social{float:none;text-align:center;}
.loadmore {margin: 20px 0 0;}
footer{margin-top:26px;}
.navbar-form{margin:0 -10px;padding:0 10px 10px 10px;}
.navbar-form .form-group{margin-bottom:0;}
.size100{font-size:70px;}
.jumbotron h1{font-size:40px;margin:0;line-height:1.2;}
.jumbotron .container{padding:0;}
.jumbotron p{font-size:18px;line-height:20px;margin-top:20px;}
.vid h3{min-height:inherit;}
.footer-widgets h2.mtzero{margin-top:0;}
.vid .length,.vid .rating{margin-bottom:0;}
/*
Back to top button 
*/
#back-top {
	position: fixed;
	bottom: 30px;
	right:10px;
	z-index:1000;
}
#back-top a {
	width: 32px;
	display: block;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top span {
	width: 32px;
	height: 32px;
	display: block;
	margin-bottom: 7px;
	background: #FF934F;	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	position:relative;
}
#back-top span:after{
	position:absolute;
	content:"";
	border:10px solid;
	border-color:transparent transparent #FFF transparent;
	left:6px;
	top:2px;
}
#back-top a:hover span {background-color: #FF6200;}
}